<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Admin Dashboard</h2>
        <h5>Welcome Cars Ecomerce Team. </h5>
      </div>
    </div>

    <!-- Banner -->
    <!-- <div class="container">
<div class="banner-item banner-2x banner-bg-8 color-inher m-xs-auto m-box-auto p-t-xs-50 p-b-xs-60">
  <div class="slide-caption">
    <h2 class="f-weight-300 p-b-lg-0"><i class="fa fa-search m-r-lg-10"></i><strong>FIND</strong> YOUR CAR</h2>
    <p>Lorem ipsum dolor sit amet conaliqua uat veniama. Lorem ipsum met consem ipsum met consectetur adipisicing elit
      sed</p>
    <div class="counterup m-t-lg-50">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="counterup-item">
            <h3 class="counter">21087</h3>
            <p>VEHICLE</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="counterup-item">
            <h3 class="counter">3042</h3>
            <p>DEALER</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="counterup-item">
            <h3 class="counter">12498</h3>
            <p>CAR SOLD</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
          <div class="counterup-item">
            <h3 class="counter">8</h3>
            <p>AWARDS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    <!-- /. ROW  -->
    <hr />

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
          <span class="icon-box bg-color-red set-icon">
            <i class="fa fa-envelope-o"></i>
          </span>
          <div class="text-box">
            <p class="main-text">{{VendorArr.length}} Vendors</p>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
          <span class="icon-box bg-color-green set-icon">
            <i class="fa fa-bars"></i>
          </span>
          <div class="text-box">
            <p class="main-text">{{mentArr.length}} Mentainance Count</p>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
          <span class="icon-box bg-color-blue set-icon">
            <i class="fa fa-bell-o"></i>
          </span>
          <div class="text-box">
            <p class="main-text">{{usersArr.length}}  Users Count</p>
          </div>
        </div>
      </div>

    </div>
    <!-- /. ROW  -->


  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
