
<form action="/cars/add" method="POST" enctype="multipart/form-data" >
<legend> Add Cars</legend>

<div class="form-group">

<label for="">model</label>
<input type="text" name="model" class="form-control" id=""><br>

<label for="">brand</label>
<input type="text" name="brand" class="form-control" id=""><br>

        
<label for="">body</label>
        
<input type="text" name="body" class="form-control" id=""><br>
       
<label for="">fuel</label>
<input type="text" name="fuel" class="form-control" id=""><br>
        
<label for="">engin</label>
<input type="text" name="engin" class="form-control"><br>
        
<label for="">transmission</label>
<input type="text" name="transmission" class="form-control" id=""><br>
        
<label for="">color</label>
<input type="text" name="color" class="form-control" id=""> <br>

<label for="">door</label>
<input type="number" name="door" class="form-control" id=""> <br>

<label for="">warranty</label>
<input type="number" name="warranty" class="form-control" id=""> <br>

<label for="">v_id</label>
<input type="number" name="v_id" class="form-control" id=""> <br>


<label for="">country </label>
<input type="text" name="country" class="form-control" id=""> <br>
        <label for="">price</label>
        <input type="number" name="price" class="form-control" id=""><br>
        <label for="">img</label>
        <!-- <input type="file" name="image" class="form-control" id=""   > <br>  -->
        </div>
        
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    