<form action="/automaintenance/add" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="file" name="maintenanceImage">
    <input type="text" name="phone" placeholder="phone"><br>
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="city" placeholder="city"><br>
    <input type="text" name="street" placeholder="street"><br>
    <input type="text" name="building" placeholder="building"><br>


    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Save">
</form>
