<%include ../partials/admin/header%>

<body>
    <form action="/rateparts/add/" method="POST">
							<input type="text" name="u_id" class="form-control" placeholder="UserID" />
			
							<input type="text" name="p_id" class="form-control" placeholder="partID" />

				
                                <input type="text" name="partRate" class="form-control" placeholder="partRate"/>
    
						<button type="submit" class="btn btn-success btn-lg" >Add</button>
						
				

				</form>
		
	<br/><%include ../partials/admin/footer%>
