<%include ../partials/admin/header%>

<body>
  <div class="modal-dialog" >
		<div class="modal-content">
			
			<hr />
			<div class="modal-body">
				<form action="/cars/edit/<%=car.cr_id%>" method="POST"   >
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
							</span>
							<input type="text" name="u_id" value="<%=car.u_id%>"  class="form-control" placeholder="userID" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
							</span>
							<input type="text" name="c_id" value="<%=car.c_id%>" class="form-control" placeholder="carID"  />

						</div>

                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
								</span>
                                <input type="text" name="rate" class="form-control" value="<%=car.rate%>" placeholder="carRate"/>
    
                            </div>
    
                        </div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-success btn-lg" >update</button>
						
					</div>

				</form>
			</div>
		</div>
	</div>
	<%include ../partials/admin/footer%>

