
<form action="/parts/add" method="POST" enctype="multipart/form-data" >
    <legend> Add parts</legend>

    <div class="form-group">
   
        <label for="">category</label>

        <input type="text" name="category" class="form-control" id=""><br>
        <label for="">model</label>

        <input type="text" name="model" class="form-control" id=""   ><br>
        <label for="">price</label>

        <input type="text" name="price" class="form-control" id=""   ><br>
        <label for="">brand</label>

        <input type="text" name="brand" class="form-control" id=""   ><br>
        <label for="">code</label>

        <input type="text" name="code" class="form-control" id=""    ><br>
        <label for="">manufactor</label>

        <input type="text" name="manufactor" class="form-control"    ><br>
        <label for="">color</label>


        <input type="text" name="availability" class="form-control" id=""   ><br>
        <label for="">quantity</label>

         <input type="text" name="quantity" class="form-control" id=""   > <br>
     

         <label for="">img</label>

         <input type="file" name="image" class="form-control" id=""   > <br>
     
       



    </div>

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
